:root {
    /*Primary*/
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /*Neutral*/
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    /*font size*/
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

html {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*:hover {
    transition: all 0.3s ease-in-out;
}

body {
    background: var(--pale-blue) url('./images/pattern-background-mobile.svg') center/cover no-repeat;
    text-align: center;
}

.container {
    background-color: white;
    border-radius: 20px;
    margin: 0 2rem 0 2rem;
    overflow: hidden;
    box-shadow: 0px 10px 50px hsl(245, 75%, 52%, .3);
}

header img {
    width: 100%;
}

.conteudo_principal {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}

.main_paragraph {
    color: var(--desaturated-blue);
    line-height: 1.5rem;
    padding: 0 1.5rem;   
}

.annual_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    margin: 1rem 1rem;
}

.text_container {
    display: flex;
    align-items: center;
}

.text_container > img {
    margin-right: 1rem;
}

.annual_text {
    line-height: 1.3rem;
}

.annual_text > strong {
    font-weight: 700;
    color: var(--dark-blue);
}

.annual_text > p {
    color: var(--desaturated-blue);
}

.annual_container > a {
    color: var(--bright-blue);
    font-weight: 700;
    font-size: .9rem;
}

.annual_container > a:hover {
    opacity: 80%;
}

.main_button {
    background-color: var(--bright-blue);
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin: 0 1rem;
    border-radius: 10px;
    padding: 1rem 1rem;
    box-shadow: 0px 8px 10px hsl(245, 75%, 52%, .3);
}

.main_button:hover {
    opacity: 80%;
}

.cancel_button {
    color: var(--desaturated-blue);
    text-decoration: none;
    font-weight: 700;
    margin: 1.5rem 0;
}

.cancel_button:hover {
    color: var(--dark-blue);
}

.attribution {
    margin: 0 auto;
    margin-top: 1rem;
    opacity: 80%;
    font-weight: 500;
    font-size: .7rem;
    width: 80%;
}

.attribution a {
    opacity: 100%;
    color: var(--bright-blue);
    font-weight: 700;
    text-decoration: none;
}

@media (min-width: 768px) {
    body {
        background: var(--pale-blue) url('./images/pattern-background-desktop.svg') center/cover no-repeat;
        background-position-y: -400px;
    }

    .conteudo_principal {
        padding: 3rem;
    }

    h1 {
        font-size: 2rem;
        margin: 0 0 2rem 0;
    }

    .main_paragraph {
        font-size: 1.1rem;
    }

    .annual_container {
        margin: 2rem 1rem;
        padding: 1.5rem 1.5rem;
    }
    
    .main_button {
        padding: 1.3rem 1.3rem;
        box-shadow: 0px 10px 30px hsl(245, 75%, 52%, .3);
    }

    .cancel_button {
        margin: 2rem 0 0 0;
    }

    .attribution {
        font-size: 1rem;
    }

    .attribution a:hover {
        text-decoration: underline;
    }
}