:root {
    /*Primary*/
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /*Neutral*/
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    /*font size*/
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background: var(--pale-blue);
}

.container {
    width: 80vw;
    height: 80vh;
    max-width: 375px;
    max-height: 667px;
    background-color: white;
    margin: 0 auto;
    margin-top: 12vh;
    border-radius: 20px;
    overflow: hidden;
}

header img {
    width: 100%;
}

.conteudo_principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    height: 68%;
}

h1 {
    font-weight: 900;
    font-size: 1.5rem;
    margin: 1rem auto;
    color: var(--dark-blue);
}

p {
    color: var(--desaturated-blue);
}

.main_paragraph {
    margin: 0 1.1rem;
    /* padding: 0 1rem; */
    line-height: 1.5rem;
    font-weight: 500;
}

.annual_container {
    background-color: var(--very-pale-blue);
    margin: 1rem 1.2rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
}

.annual_text {
   font-size: .9rem;
   height: 100%;
   margin-left: .5rem;
}

.annual_text strong {
    color: var(--dark-blue);
    font-weight: 900;
}

.annual_text p {
    margin-top: .4rem;
}

.annual_container a {
    margin-left: 1.3rem;
    font-size: .8rem;
    font-weight: 700;
}

.annual_container a:hover {
    filter: opacity(80%);
    text-decoration: none;
}

.main_button {
    background: var(--bright-blue);
    border-radius: 10px;
    color: var(--very-pale-blue);
    text-decoration: none;
    font-weight: 700;
    height: 3rem;
    margin: 0 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_button:hover {
    filter: opacity(80%);
}

.cancel {
    text-decoration: none;
    font-weight: 900;
    color: var(--desaturated-blue);
    font-size: 0.9rem;
    margin-top: 1rem;
}

.cancel:hover {
    color: var(--dark-blue);
}

@media screen and (min-width: 1024px) {

    h1 {
       margin: 0 auto;
    }

    .annual_container {
        margin: 0 1.2rem;
    }

    .cancel {
        margin: 0;
    }
}